body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 1.75rem; /* Aumentar el tamaño del título */
    color: #007bff;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    max-width: 360px; /* Controla el ancho máximo para grandes pantallas */
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem; /* Aumenta el tamaño de la etiqueta */
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px; /* Aumenta el padding para mayor facilidad de toque */
    font-size: 1rem; /* Aumenta el tamaño de fuente */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 1.25rem; /* Aumentar el tamaño de la fuente para mejor visibilidad */
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.result {
    font-size: 1.2rem; /* Aumentar el tamaño de la fuente de los resultados */
    margin-top: 20px;
    color: #4a4a4a;
}

.chart-container {
    width: 80%;
    max-width: 360px;
    height: 300px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem; /* Ajustar el tamaño del título para pantallas muy pequeñas */
    }

    .form-group {
        max-width: 100%; /* Asegura que los campos utilicen todo el ancho disponible */
    }
}
